.footer {
    background-color: $brand-primary;
    color: $text-color-inverted;
}

.footer--cms {
    background-color: $bg-light;
}

.footer__link {
    padding-right: $padding;

    .navi__link {
        text-transform: uppercase;
        color: $text-color-inverted;

        &:hover,
        &:active {
            color: $link-red;
        }
    }
}

.footer__description {
    font-family: $font-family-serif;
}

.footer__no-banner > .row {
    justify-content: center;
}

.footer__margin-for-banner {
    padding-bottom: 3.5 * $spacer;

    @media screen and (min-width: $breakpoint) and (max-width: $breakpoint-md-down) {
        padding-bottom: 5.5 * $spacer;
    }
}

.navbar-brand {
    font-size: $font-size-md;
}

.footer-upper__text {
    font-weight: $demi-bold;
    color: $gray-lighter;
}

.footer-upper__navbar-nav {
    text-align: center;

    @media screen and (min-width: $breakpoint) {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .nav-item {
        padding-right: $spacer;
    }
}

.footer-upper__nav-link {
    display: inline;
    color: $gray-lighter;

    &:hover {
        color: $brand-primary;
        text-decoration-line: underline;
    }
}
