.userdashboard-profile__side {
    min-height: 100%;
    display: block; // tabpanel se display to none?!
}

.userdashboard-profile__user {
    border: 1px solid $border-color;
    text-align: center;
    padding-bottom: 2 * $padding;
}

.userdashboard-profile__avatar {
    max-width: 120px;
    border-radius: 50%;
    shape-outside: circle();
    position: relative;
}

.userdashboard-profile__main {
    padding: 0 $padding;
}

.userdashboard__mobile-nav-toggle {
    width: 100%;
}

.userdashboard__mobile-nav-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.userdashboard-mod-statement {
    border-top: 1px solid $gray-lightest;
    margin: 0 (-$spacer);
    padding: (1.5 * $spacer) $spacer $spacer $spacer;
}

.userdashboard-mod-statement__header {
    font-weight: $demi-bold;
    display: flex;
    align-items: center;
}

.userdashboard-overview__title {
    font-size: $font-size-md;
    font-weight: $demi-bold;
    letter-spacing: 1.22px;
}
